<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>增加项目</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/page.css}" />
<script type="text/javascript" th:src="@{/js/jquery/jquery-3.3.1.js}" ></script>
<!-- validation -->
<script type="text/javascript" th:src="@{/js/jquery/jquery.validate.js}" ></script>
<script type="text/javascript" th:src="@{/js/jquery/jquery.metadata.js}" ></script>
<!-- layer -->
<link type="text/css" rel="stylesheet" th:href="@{/plug/layui/css/layui.css}" />
<script type="text/javascript" th:src="@{/plug/layui/layui.js}"  charset="utf-8"></script>

<link type="text/css" rel="stylesheet" th:href="@{/js/layer/skin/layer.css}"/>
<script type="text/javascript" th:src="@{/js/layer/layer.js}" ></script>

<style type="text/css">

.need_span{
	color: red;
	display: none;
}
.need_0, .validation_span{
	color: red;
}
.need_1{
	color: #666666;
}
.input_0{
	width: 200px;
}
.form_table td{
	padding: 5px;
}
.text_ad_0{
	font-weight: bold;
	color: #444444;
	white-space: nowrap;
}
</style>

</head>
<body>
<div  style="margin-left:15px; height: 90%;">
<div class="first_div" style="border:none;">
	<div id="adListDiv" align="left" >
	<form>
		<table class="form_table" style="border-collapse: collapse;margin-left:20px;margin-top:10px;">
			<tr>
				<td align="right" >
					<span class="need_0">*</span>
					<span class="text_ad_0">项目名：</span>
				</td>
				<td>
					<input id="proNum" type="text" name="proNum" class="input_0" value=""/>
					<span class="validation_span"></span>
				</td>
			</tr>
			<tr>
				<td align="right" >
					<span class="need_0">*</span>
					<span class="text_ad_0">项目版本号：</span>
				</td>
				<td>
					<input id="proVersion" type="text" name="proVersion" class="input_0" value=""/>
					<span class="validation_span"></span>
				</td>
			</tr>
			<tr>
				<td align="right" >
					<span class="need_0">*</span>
					<span class="text_ad_0">项目负责人：</span>
				</td>
				<td>
					<select id="proLeader" name="proLeader" onfocus="selectFocus()" style="width: 200px;">
					<option value="" selected="selected" onclick="selectClick()">---请选择项目负责人---</option>
					</select>
					<span class="validation_span"></span>
				</td>
			</tr>
			<tr>
				<td align="right" >
					<span class="need_0">*</span>
					<span class="text_ad_0">简介：</span>
				</td>
				<td>
					<textarea id="proContent" name="proContent" value="" cols="30" rows="5"></textarea>
					<span class="validation_span"></span>
				</td>
			</tr>
			
			<tr style="">
				<td align="right" >
					<span class="need_0"></span>
					<span class="text_ad_0">创建日期：</span>
				</td>
				<td>
					<input id="proCreateTime" type="text" name="proCreateTime" class="input_0"/>
					<span class="validation_span"></span>
				</td>
			</tr>
			
			<tr style="">
				<td align="right" >
					<span class="need_0">*</span>
					<span class="text_ad_0">截止日期：</span>
				</td>
				<td>
					<input id="proCutTime" type="text" name="proCutTime" class="input_0"/>
					<span class="validation_span"></span>
				</td>
			</tr>
			
			<tr>
				<td align="right" >
					<span class="need_0">*</span>
					<span class="text_ad_0">项目状态：</span>
				</td>
				<td>
					<select id="proState" name="proState" class="input_0">
						<option value="2" selected="selected">已发布</option>
						<option value="0">进行中</option>
						<option value="1">已完成</option>
						<option value="3">已超时</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td colspan="2" align="left" >
					<div style="margin-top:10px;margin-bottom:20px;margin-left:120px;">
						<input type="submit" class="layui-btn" lay-submit="" lay-filter="add" id="saveBtu" name="saveBtu" value="保存" style="" />
						<input type="button" class="layui-btn" lay-submit="" lay-filter="add" id="backBtu" name="backBtu" value="返回" style="margin-left:20px;" />
					</div>
				</td>
			</tr>
		</table>
	</form>
		</div>
	</div>
</div>
</body>
</html>

<script type="text/javascript">
function selectFocus(){
	document.getElementById("proLeader").setAttribute("size","5");
}
function selectClick(){
	document.getElementById("proLeader").removeAttribute("size");
	document.getElementById("proLeader").blur();
}
</script>

<script type="text/javascript"  th:inline="javascript">

function getTime(val){
	if(val){		
		val = val.split("T");
		return val[0]; 
	}
	return "";
}

var allUser = [[${allUser}]]; 
var managePro = [[${managePro}]];

//获取当前时间，格式YYYY-MM-DD
function getNowFormatDate() {
    var date = new Date();
    var seperator1 = "-";
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var strDate = date.getDate();
    if (month >= 1 && month <= 9) {
        month = "0" + month;
    }
    if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
    }
    var currentdate = year + seperator1 + month + seperator1 + strDate;
    return currentdate;
}

function verifyAfterToday(value){
	var now = getNowFormatDate();
	var starttime = new Date(now);
	var endtime = new Date(value);
	
	return endtime>=starttime;
}

$(function(){
	//渲染所有用户
	if(allUser){
		 for(var i=0;i<allUser.length;i++){
			$("#proLeader").append("<option onclick='selectClick()' value='"+allUser[i].userId+"'>"+allUser[i].userName+"</option>");
		 }
	}
	$("#createTime").hide();
   	if(managePro){
   		$("#createTime").show();
   		//回填值
   		$("#proNum").val(managePro.proNum);
   		$("#proVersion").val(managePro.proVersion);
   		$("#proContent").val(managePro.proContent);
   		if(managePro.proCutTime){
   			$("#proCutTime").val(getTime(managePro.proCutTime));
   		}
   		if(managePro.proCreateTime){
   			$("#proCreateTime").val(getTime(managePro.proCreateTime));
   		}
   		$("select option[value='"+managePro.proState+"']").attr("selected","selected");
   		$("select option[value='"+managePro.proLeader+"']").attr("selected","selected");
   	}
   	
  	//验证id只包含数字字母
	$.validator.addMethod(
	    "withOutChinese",
	    function (value, element, param){
	    	var withOutChinese = /^[\w@.-]+$/;
	    	return this.optional(element) || withOutChinese.test(value); 
	    },
	    "请输入字母/数字组合(包含@_.-)"
    );
  	
	//验证今天之前的日期
	$.validator.addMethod(
	    "afterToday",
	    function (value, element, param){
	    	return this.optional(element) || verifyAfterToday(value);
	    },
	    "请选择今天之后的日期"
    );
	
	//开始验证     
	$('form').validate({
		debug:true,
		ignore:":hidden:not(select)",
	    /**//* 设置验证规则 */    
	    rules: {     
	    	proNum: {     
	            required:true,
	            rangelength:[2, 20],
	            withOutChinese: true,
	            remote:{  
	                 url:"/sys/checkProNum",
	                 type:"post",
	                 dataType:"text",
	                 async:false,  //默认true,异步
	                 data:{userId:function(){
	                	 return $.trim($("#proNum").val());
	                 }},  
	                 dataFilter: function(data, type) {  
	                 	if(data){
	                 		if(managePro){
	                 			if($.trim($("#proNum").val()) == managePro.proNum){
	                 				return true;
	                 			}
	                 		}
	                 		return false;
	                 	}else{
	                 		return true;
	                 	}
	                 }  
	              }
	        },
	        proContent: {
	            required:true,
	            rangelength:[2, 20]
	        },
	        proVersion: {
	            required:true,
	            rangelength:[2, 20]
	        },
	        proCutTime: {
	        	required:true,
	        	afterToday:true
	        },
	        proLeader: {
	        	required:true
	        },
	        proState: {
	        	required:true
	        }
	    },      
	    /**//* 设置错误信息 */    
	    messages: {     
	    	proNum: {         
	        	required:"项目名不可为空",
	        	rangelength:"项目名必须在2-10个英文字符之间",
	        	remote:"项目名重复,请重新输入"
	        },
	        proVersion: {
	        	required:"项目版本号不能为空",
	        	rangelength:"项目简介必须在2-20个字符之间"
	        },
	        proContent: {         
	        	required:"项目简介不可为空",
	        	rangelength:"项目简介必须在2-20个字符之间"
	        },
	        proCutTime: {
	        	required:"截止时间不可为空"
	        },
	        proLeader: {
	        	required:"请选择项目负责人"
	        },
	        proState:{
	        	required:"请选择项目状态"
	        }
	    },
	    /** 设置验证触发事件 */
	    onsubmit:true,
	    /** 设置错误信息提示DOM */    
	    errorPlacement: function(error, element) {
	    	$(element[0]).parent().find(".validation_span").text(error.html()).show();  
	    },
	    success:function(error, element){
	    	$(element[0]).parent().find(".validation_span").text("");  
        },
	    submitHandler: function (){
	    	save();
	    }
	});
	
	//返回按钮
	$("#backBtu").click(function(){
		layer.confirm('确认返回吗？', {icon: 3, title:'提示'}, function(index){
		    parent.layer.closeAll();
		});
	});
});

function closeSelf(){
    var i = layer.getFrameIndex();
	layer.close(i);
}

//保存
function save(){
	var param = new Object();
	param.proNum = $.trim($("#proNum").val());
	param.proVersion = $.trim($("#proVersion").val());
	param.proContent = $.trim($("#proContent").val());
	var time = $("#proCutTime").val();

	var d = new Date();
	if(time!=null && time!=''){
		time = time.split('-');
		var myTime = new Date(time[0],(time[1]-1),time[2]);
		
		param.proCutTime = myTime;
		
	}
	time = $("#proCreateTime").val();

	if(time!=null && time!=''){
		time = time.split('-');
		var myTime = new Date(time[0],(time[1]-1),time[2]);
		
		param.proCreateTime = myTime;
	}
	param.proLeader = $("#proLeader option:selected").val();
	param.proState = $("#proState option:selected").val();
	
	var urlStr = "/sys/addPro";
	
	if(managePro){
		//修改
		urlStr = "/sys/updatePro";
		param.proId = managePro.proId;
	}
	
	layer.confirm('确认保存吗？', {icon: 3, title:'提示'}, function(index){
		$.ajax({
    		type:"POST",
    		async:true,  //默认true,异步
    		data:param,
    		url:urlStr,
    		success:function(data){
    			if(data == "SUCCESS"){
    				layer.alert('保存成功！', {icon: 1}, function(indexOk){
       					parent.search();
       	    			parent.$("#add_iframe iframe").attr("src", "");
       			    	parent.$("div").first().show();
       			    	parent.$("#add_iframe").hide();
       			    	parent.layer.closeAll();
       				});
    			}else{
    				layer.alert('保存失败！', {icon: 3}, function(indexNo){
    					parent.layer.closeAll();
       				});
    			}
    	    }
    	});
	});
}

layui.use('laydate', function(){
	var laydate = layui.laydate;

	laydate.render({
	    elem: '#proCreateTime'//指定元素
	    ,trigger : 'click'
	});

	//执行一个laydate实例
	laydate.render({
		elem: '#proCutTime' //指定元素
		,trigger : 'click'
	});

});

</script>